/* generic elements styling */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #4c4c4c;
  background: #f6f7f7;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  width: 70px;
  height: 35px;
  background-color: #367aac;
  cursor: pointer;
  border: solid #367aac;
  padding: 0.5rem;
  border-radius: 15px;
}

button:hover {
  background: white;
  border: solid #367aac;
  color: #367aac;
}

/* component styling */

.img-name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.name {
  align-self: center;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.image-container {
  border-radius: 30px;
  background-color: #367aac;
  height: 200px;
  display: flex;
  justify-content: center;
}

img {
  width: 80%;
  height: auto;
  height: 80%;
  align-self: center;
}

.card {
  width: 85%;
  margin: 0 auto;
}

.api-data {
  float: right;
}

.api-color {
  color: #6e6868;
}

.api-label {
  font-weight: 700;
}

.details {
  margin-bottom: 1rem;
}

.border-details {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.see-details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.border-details {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #e6e8e8;
  width: 100%;
}

.see-details {
  align-self: center;
  color: #367aac;
  font-weight: 600;
  transition: width 1s, height 1s, transform 1s;
}

.see-details:hover {
  transform: scale(1.2, 1.2);
  border-bottom: 1px solid #367aac;
}

/* ================================= 
  Layout Styles
==================================== */

.grid {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 25px;
}

.wrapper {
  border-radius: 30px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 549px) {
}

@media (min-width: 550px) {
}

@media (min-width: 769px) {
}
